<html>
    <head>

    </head>
    <body>
        <header>

        </header>

        <nav>

        </nav>

        <div>
            <form>
                <input type="number"> 

                <button type="submit">
                Einkauf bestätigen
                </button>
            </form>
        </div>
    </body>
</html>