<!DOCTYPE html> 
	<html>
		<head>
			<link href="/css/stylesheet.css" rel="stylesheet" type="text/css">
			<title>Musikshop</title>
		
		</head>
		<body>
			<header>
				<span id="viv">Die Musikstube
			</header>
			<div id="mess">
				
			</div>
		
			<nav>
            <% if(!logedIn) { %> 
                <form action="onLogIn" method="POST">
                    <input class="bracket" type="text" value="<%= mail %>" name="mail" ></br> <!-- falls PW falsch war/damit man nicht noch mal die Mail eingeben muss -->
					<%= errors[0] %> </br>
                    <input class="bracket" type="password" name="password"></br>
					<%= errors[1] %> </br>
                    <input class="buttons" type="submit" value="Login" name="submit"> </p>
                </form>
                <a href="/register">Registrieren</a>
            <% } else { %>
                <form action="onLogOut" method="POST">
					<input class="buttons" type="submit" value="Logout" name="submit"> </p>
                </form></p>
                <a href="/cart">Warenkorb</a> </p>
				<a href="/confirmation">meine Bestellungen</a>
            <% } %>
        </nav>
		
		<div id="credits">
			Ein Projekt für Angewandte Programmierung an der HAW
			In zusammenarbeit von:
			Tobias Braun 2365827 <br>
			Christina Jung 2365704<br>
			Mike Papavramidou 2364472<br>
			Michelle Weck 2365028
		</div>
		
		</div>
	</body>
</html>