 * {
            font-family: Arial, Helvetica, sans-serif;   
        }
        body{
            background-color: antiquewhite;
        }
        header { width: 100%;
        height:7%;
        border-radius: 5px;
        background-color:#6d346a ;
        font: 30px antiquewhite;
        color:antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-top:-10px;}
        a {
            text-decoration: none;
            color:rgb(58, 56, 58);
        }
        a:hover{        
            color:antiquewhite;
        }
        nav{
            margin-top:4%;
            padding-top:5px;
			padding-left:2px;
			
            text-align: center;
            width:14%;
            float: left;
            background-color:#8b4f88 ;
            height:270px;
            border-radius: 7px;
            color:rgb(58, 56, 58);
        }

        
        form {
            text-align:center;
        }
        button {
            width:40%;
            height:15%;
            background-color:blanchedalmond;
        }
        input {
            margin-top:4px;
        }
        #table {
            margin-left:20%;
            margin-top: 4%;
            color:rgb(58, 56, 58);
            background-color:#fae4ca;
			border-radius:5px;
			height:50%;
        }
        tr {
            height:70px;
        }
        #1 {
            width:170px;
        }